<ul class="nav">
  <li>
    <%= link_to "Time Clock App", root_path, :class => 'brand' %>
  </li>

  <% if logged_in? %>
  <li>
    <%= link_to 'Log Out', logout_path %>
  </li>
  <% end %>
</ul>
<h5 class="current_time">Current Time: <%= format_datetime(Time.now.in_time_zone(Time.zone.name)) %> </h5>